# Unity generated folders
Library/
Temp/
Obj/
Logs/
UserSettings/

# Build folders
Build/
Builds/

# VS / Rider / IDE
.vs/
.idea/
*.csproj
*.unityproj
*.sln
*.user
*.tmp

# OS files
.DS_Store
Thumbs.db

# Unity cache
MemoryCaptures/

# Rider
*.sln.iml

# Crash Reports
sysinfo.txtS